Company: <?php echo $company->name; ?> 
Country: <?php echo $company->countries->name; ?> 
City: <?php echo $company->city; ?>
<h1>Ratios</h1>
Logo: <img src="/image/logos/40x40/<?php echo $company->logo; ?>">
Company: <?php echo $company->company_ratio; ?> 
Salary: <?php echo $company->salary_ratio; ?> 
Management: <?php echo $company->management_ratio; ?> 
Enviroment: <?php echo $company->enviroment_ratio; ?> 
Hr: <?php echo $company->hr_ratio; ?> 
Location: <?php echo $company->location_ratio; ?>
<h3>Reviews</h3>
<?php foreach ($company->getReviews() as $review) { ?>
	<h4>Review</h4>
	Date: <?php echo $review->created;?>
	Pros: <?php echo $review->pros;?>
	Cons: <?php echo $review->cons;?>
	Company: <?php echo $review->company;?>
	Salary: <?php echo $review->salary;?>
	Management: <?php echo $review->management;?>
	Enviroment: <?php echo $review->enviroment;?>
	Hr: <?php echo $review->hr;?>
	Location: <?php echo $review->location;?>
<?php } ?>
<br/>
<br/>
<?php if (empty($session)) {?>
<a href="<?php echo $translations->getUrl(array('url_user','url_register')); ?>"?><?php echo $translations->_('button_register') ?></a>
<a href="<?php echo $translations->getUrl(array('url_user','url_login')); ?>"?><?php echo $translations->_('button_login') ?></a>
<?php } else { ?>
<a href="<?php echo $translations->getUrl(array($company->slug,'url_reviews','url_new')); ?>"?><?php echo $translations->_('button_newreview') ?></a>
<?php } ?>