<h1>HOME PAGE</h1>
<form method="POST">

    <p>
        <label>Name</label>
        <?php echo $form->render("company"); ?>
    </p>
    <?php if (!empty($message)){ ?>
    <p><?php echo $translations->_((string)$message); ?></p>
    <?php } ?>
    <p>
        <input type="submit" value="<?php echo $translations->_('button_search');?>" />
    </p>

</form>