SEARCH 
<?php if ($companies->count()>0 ){
	foreach ($companies as $company) {
		echo $company->name.' - '.' <a href="'.$translations->getUrl(array($company->slug,'url_reviews')).'">Link</a> '.'<br/>';
	}
} else {?>
No results found
<?php } ?>
<?php if (empty($session)) {?>
<a href="<?php echo $translations->getUrl(array('url_user','url_register')); ?>"?><?php echo $translations->_('button_register') ?></a>
<a href="<?php echo $translations->getUrl(array('url_user','url_login')); ?>"?><?php echo $translations->_('button_login') ?></a>
<?php } else { ?>
<a href="<?php echo $translations->getUrl(array('url_company','url_new')); ?>"?><?php echo $translations->_('button_newcompany') ?></a>
<?php } ?>