<p><?php $this->flashSession->output(); ?></p>

<form method="POST">

    <?php
        // Traverse the form
        foreach ($form as $element) {

            // Get any generated messages for the current element
            $messages = $form->getMessagesFor($element->getName());

            if (count($messages)) {
                // Print each element
                echo '<div class="messages">';
                foreach ($messages as $message) {
                    echo '<br/>'.$translations->_((string)$message);
                }
                echo '</div>';
            }

            echo '<p>';
            echo '<label for="', $element->getName(), '">', $translations->_($element->getLabel()), '</label>';
            echo $element;
            echo '</p>';

        }
    ?>
    <input type="hidden" name="<?php echo $this->security->getTokenKey() ?>" value="<?php echo $this->security->getToken() ?>"/>
    <p>
        <input type="submit" value="<?php echo $translations->_('button_login');?>" />
    </p>

</form>