<html>
    <head>
        <title>Example</title>
    	<meta charset="UTF-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Bootstrap, a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.">
		<meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, bootstrap, front-end, frontend, web development">
		<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors"> 
    </head>
    <body>

        <h1>This is main layout!</h1>
        <?php if (empty($session)){ ?>
        <a href="<?php echo $translations->getUrl(array('url_user','url_login')); ?>"><?php echo $translations->_('button_login'); ?></a>
        <a href="<?php echo $translations->getUrl(array('url_user','url_register')); ?>"><?php echo $translations->_('button_register'); ?></a>
        <?php } else { ?>
        <a href="<?php echo $translations->getUrl(array('url_user','url_logout')); ?>"><?php echo $translations->_('button_logout'); ?></a>
        <?php } ?>
        <?php echo $this->getContent(); ?>
    </body>
</html>